@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  text-decoration:none;
}
body 
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70cm;
  background: #000;
}
.section1 
{
  position: absolute;
  width: 100vw;
  height: 70cm;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}
.section1::before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000,#0f0,#000);
  animation: animate 5s linear infinite;
}
@keyframes animate 
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}
.nav_head
{
  background-color: #161616ff;
  width:100%;
  height:5em;
  z-index:3;
  position:absolute;
  align-self:self-start;
}
.h1
{
  color:#0f0;
  padding:4px;
}
.h2
{
  justify-self:center;
}
.a1
{
  color: rgba(0, 255, 0, 1);
  padding-left:1em;
  padding-right:1em;
  transition:0.3s;
}
.a1:hover
{
  background-color:#0f0;
  transition:0.5s;
  color:#161616ff;
  border-radius:10em;
  font-size:28px;
  transition:0.7s;
}
.user
{
    width: 3%;
    position: absolute;
    left: 96.5%;
    top: 6%;
}
.section1 span 
{
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #090909;
  z-index: 2;
  transition: 1.5s;
}
.section1 span:hover 
{
  background: #0f0;
  transition: 0s;
}

.section2
{
    background-color: #3cff008c;
    width: 42%;
    height: 12em;
    margin-top: 6em;
    text-align: center;
    align-content: center;
    border-radius: 1em;
    font-size: x-large;
    z-index:3;
    align-self:self-start;
    color: #1d1d1dae
}
.section3
{
    background-color: #1d1d1dae;
    width: 42%;
    height: 12em;
    margin-top: 6em;
    text-align: center;
    align-content: center;
    border-radius: 1em;
    font-size: x-large;
    z-index:3;
    margin-left:5%;
    align-self:self-start;
    color: #3cff008c;
}
.section4
{
    background-color: #1d1d1dae;
    width: 42%;
    transition:0.5s;
    height: 12em;
    margin-top: 10em;
    text-align: center;
    align-content: center;
    border-radius: 1em;
    font-size: x-large;
    z-index:3;
    margin-right:5%;
    color: #00ff008c;
}
.section4:hover
{
    background-color: #090909ae;
    width: 50%;
    transition:0.5s;
    height: 10em;
    margin-top: 10em;
    text-align: center;
    align-content: center;
    border-radius: 1em;
    font-size: xx-large;
    z-index:3;
    margin-right:5%;
    color: #00ff008c;
}
.section5
{
    background-color: #00ff008c;
    width: 42%;
    transition:0.5s;
    height: 12em;
    margin-top: 10em;
    text-align: center;
    align-content: center;
    border-radius: 1em;
    font-size: x-large;
    z-index:3;
    color: #1d1d1dae;
}
.section5:hover
{
    background-color: #00ff00d2;
    width: 50%;
    transition:0.5s;
    height: 10em;
    margin-top: 10em;
    text-align: center;
    align-content: center;
    border-radius: 1em;
    font-size: xx-large;
    z-index:3;
    color: #1d1d1dae;
}
.section6
{
    background-color: #1d1d1dae;
    width: 42%;
    transition:0.5s;
    height: 12em;
    margin-top: 10em;
    text-align: center;
    align-content: center;
    border-radius: 1em;
    font-size: x-large;
    z-index:3;
    margin-left:5%;
    color: #00ff008c;
}
.section6:hover
{
    background-color: #090909ae;
    width: 50%;
    transition:0.5s;
    height: 10em;
    margin-top: 10em;
    text-align: center;
    align-content: center;
    border-radius: 1em;
    font-size: xx-large;
    z-index:3;
    margin-left:5%;
    color: #00ff008c;
}
.section7
{
    background-color: #1d1d1dae;
    width: 42%;
    transition:0.5s;
    height: 12em;
    margin-top: 10em;
    text-align: center;
    align-content: center;
    border-radius: 1em;
    font-size: x-large;
    z-index:3;
    margin-left:5%;
    margin-right:5%;
    color: #00ff008c;
}
.section7:hover
{
    background-color: #090909ae;
    width: 50%;
    transition:0.5s;
    height: 10em;
    margin-top: 10em;
    text-align: center;
    align-content: center;
    border-radius: 1em;
    font-size: xx-large;
    z-index:3;
    margin-left:5%;
    margin-right:5%;
    color: #00ff008c;
}
.center
{
    position: absolute;
    z-index: 3;
    display: flex;
    width: 95%;
    top:42em;
}
.center1
{
    position: absolute;
    z-index: 3;
    display: flex;
    width: 95%;
    justify-content: center;
    top:63em;
}
.center2
{
    position: absolute;
    z-index: 3;
    display: flex;
    width: 95%;
    justify-content: center;
    top:84em;
}
.main
{
    width: 97%;
    margin-top: 31em;
    overflow: hidden;
    border-radius: 10px;
    cursor: grab;
    position:absolute;
    z-index:3;
    align-self:self-start;
}
.main:active 
{
    cursor: grabbing;
}
.slides {
    display: flex;
    transition: transform 0.3s linear;
    width:200cm;
}
.s-m
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    width: 18%;
    background-color: #09eb0061;
    margin:0.2%;
    border-radius: 2em;
    transition:0.7s;
    height:16em;
}
.s-m:hover
{
    background-color: #00c302b5;
    width: 20%;
    height: 18em;
    transition: 0.5S;
}
.main1
{
    width: 97%;
    margin-top: 50%;
    overflow: hidden;
    border-radius: 10px;
    cursor: grab;
    position:absolute;
    z-index:3;
}
.main1:active 
{
    cursor: grabbing;
}
.slides1 {
    display: flex;
    transition: transform 0.3s linear;
    width:200cm;
}
.s-m1
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    width: 18%;
    background-color: #09eb0061;
    margin:0.2%;
    border-radius: 2em;
    transition:0.7s;
    height:16em;
}
.s-m1:hover
{
    background-color: #00c302b5;
    width: 20%;
    height: 18em;
    transition: 0.5S;
}
.footer
{
  background: linear-gradient(0deg, #161616, #161616ad, #00000000);
  width:100%;
  height:30em;
  z-index:3;
  position:absolute;
  align-self:self-end;
  color: #00ff00ff;
  
}
input[type="submit"]:active
{
  opacity: 0.6;
}
@media (max-width: 900px)
{
  .section1 span 
  {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 600px)
{
  .section1 span 
  {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}